[submodule "tty.wtf"]
	path = tty.wtf
	url = https://github.com/mihailik/tty.wtf
	branch = old
[submodule "atlas"]
	path = atlas
	url = https://github.com/mihailik/atlas
[submodule "atlas-db"]
	path = atlas-db
	url = https://github.com/mihailik/atlas-db
[submodule "atlas-db-jsonp"]
	path = atlas-db-jsonp
	url = https://github.com/mihailik/atlas-db-jsonp
[submodule "receipts"]
	path = receipts
	url = https://github.com/mihailik/receipts
[submodule "receipts-db"]
	path = receipts-db
	url = https://github.com/mihailik/receipts-db
[submodule "bluesky-static/accounts"]
	path = bluesky-static/accounts
	url = https://github.com/bluesky-static/accounts
