[submodule "tty.wtf"]
	path = tty.wtf
	url = https://github.com/mihailik/tty.wtf
	branch = old
[submodule "atlas"]
	path = atlas
	url = https://github.com/mihailik/atlas
[submodule "atlas-db"]
	path = atlas-db
	url = https://github.com/mihailik/atlas-db
[submodule "atlas-db-jsonp"]
	path = atlas-db-jsonp
	url = https://github.com/mihailik/atlas-db-jsonp
